<head>
    <link rel='stylesheet' href='css/style.css' />  
</head>
<body>
<section>
		Select size:	
		<button class="btn btn-primary btn-xs" id="lg"><i class="icon-desktop"></i> col-lg</button>
		<button class="btn btn-primary btn-xs" id="md"><i class="icon-laptop"></i> col-md</button>
		<button class="btn btn-primary btn-xs" id="sm"><i class="icon-tablet"></i> col-sm</button>
		<button class="btn btn-primary btn-xs" id="xs"><i class="icon-mobile"></i> col-xs</button>
</section>
<script src="js/popup.js"></script>
</body>